<head ng-controller="{{template_type}}Ctrl">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="ru-ru"/>
    <meta name="description" content="Данные с цифровых метеостанций. Прогноз на 24 часа и на 10 дней. Вебкамеры. Архив погоды." />
    <meta name="keywords" content="погода, {{city.name}}, метеостанция, температура, давление, влажность, ветер, прогноз" />
    <title>Реальная погода в {{city.prep}}</title>
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/.js/social-likes_birman.css">        
    <link rel="apple-touch-icon" sizes="192x192" href="/.images/favicons/favicon-192x192.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/.images/favicons/favicon-192x192.png">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">        
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="http://realmeteo.ru/.images/favicons/favicon-96x96.png" />
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
                display: none !important;
        }
    </style>

</head>

